
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$baby-blue-palette: (
  50: #e2f2fc,
  100: #b9ddf9,
  200: #8dc9f5,
  300: #60b3f1,
  400: #3aa3ef,
  500: #0694ed,
  600: #0087df,
  700: #0075cd,
  800: #0064bb,
  900: #00469c,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$carmine-palette: (
  50: #fae9ed,
  100: #f3c7cf,
  200: #dd9096,
  300: #cd666f,
  400: #d4434f,
  500: #d62c38,
  600: #c82336,
  700: #b61930,
  800: #a91229,
  900: #9a031f,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$lemon-chiffon-palette: (
  50: #fffce7,
  100: #fef6c3,
  200: #fdf09c,
  300: #fcea76,
  400: #fae559,
  500: #fbe23f,
  600: #f8cf3a,
  700: #f5b834,
  800: #f1a12d,
  900: #eb7922,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$iata-ssim-chap6-msg-primary: mat.define-palette($baby-blue-palette);
$iata-ssim-chap6-msg-accent: mat.define-palette($lemon-chiffon-palette);

// The warn palette is optional (defaults to red).
$iata-ssim-chap6-msg-warn: mat.define-palette($carmine-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$iata-ssim-chap6-msg-theme: mat.define-light-theme((
  color: (
    primary: $iata-ssim-chap6-msg-primary,
    accent: $iata-ssim-chap6-msg-accent,
    warn: $iata-ssim-chap6-msg-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($iata-ssim-chap6-msg-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
