$primary-palette: (
	50: #e5e9ec,
	100: #bcc7d2,
	200: #92a3b4,
	300: #6a8095,
	400: #4a6681,
	500: #284e70,
	600: #214768,
	700: #193d5e,
	800: #153451,
	900: #122438,
	contrast: (
		50: rgba(black, 0.87),
		100: rgba(black, 0.87),
		200: rgba(black, 0.87),
		300: white,
		400: white,
		500: white,
		600: white,
		700: white,
		800: white,
		900: white,
	),
);

$danger-palette: (
	50: #fae9ed,
	100: #f3c7cf,
	200: #dd9096,
	300: #cd666f,
	400: #d4434f,
	500: #d62c38,
	600: #c82336,
	700: #b61930,
	800: #a91229,
	900: #9a031f,
	contrast: (
		50: rgba(black, 0.87),
		100: rgba(black, 0.87),
		200: rgba(black, 0.87),
		300: rgba(black, 0.87),
		400: white,
		500: white,
		600: white,
		700: white,
		800: white,
		900: white,
	),
);

$secondary-palette: (
	50: #fee8ce,
	100: #e5c7ad,
	200: #c7a387,
	300: #a68161,
	400: #8f6744,
	500: #774f27,
	600: #6d4522,
	700: #5e3919,
	800: #502c12,
	900: #411f06,
	contrast: (
		50: rgba(black, 0.87),
		100: rgba(black, 0.87),
		200: rgba(black, 0.87),
		300: rgba(black, 0.87),
		400: white,
		500: white,
		600: white,
		700: white,
		800: white,
		900: white,
	),
);
